In [20]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
cdc_diabetes_health_indicators = fetch_ucirepo(id=891) 
  
# data (as pandas dataframes) 
X = cdc_diabetes_health_indicators.data.features 
Y = cdc_diabetes_health_indicators.data.targets

In [21]:
# Load them into dataFrame
df_X = pd.DataFrame(X)
df_Y = pd.DataFrame(Y)

df_X.shape, df_Y.shape

((253680, 21), (253680, 1))

In [22]:
# Convenient sake, only doing svm classification on first 5000 batches.
batch_size = 5001
batch_df_X = df_X.iloc[:batch_size]
batch_df_Y = df_Y.iloc[:batch_size]

batch_df_X.tail()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
4996,0,0,0,24,0,0,0,1,0,1,...,1,0,1,0,0,0,0,3,4,8
4997,1,0,1,24,1,0,0,1,1,0,...,1,0,3,4,0,0,0,13,6,7
4998,1,1,1,33,1,0,0,1,0,1,...,1,0,2,0,2,0,1,12,6,8
4999,1,1,1,35,0,0,0,0,1,1,...,1,0,3,2,1,0,0,12,4,4
5000,1,0,1,30,0,0,0,1,1,1,...,1,0,3,0,0,0,1,11,4,6

In [13]:
import pandas as pd

# Create a sample DataFrame
data = {'Column1': [1, 2, 3, 4, 5],
        'Column2': ['A', 'B', 'C', 'D', 'E']}
df = pd.DataFrame(data)

# Define the batch size
batch_size = 2

# Select a batch of data using iloc
batch_of_data = df.iloc[:batch_size]

# Display the batch of data
print(batch_of_data)

   Column1 Column2
0        1       A
1        2       B